
%montserrat-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

%montserrat-semiBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

%yellow{
    background-color: #ffcc01;
}